<!-- {{ partial "signup.html" . }} -->
<footer class="footer">
  <div class="footer__container">
    <div class="footer__menu">
      <a href="https://www.skycoin.net">
        <img
          class="logo"
          alt="Skycoin"
          src="/../../assets/img/logoBlueWhite.svg"
        />
      </a>
      <div class="footer-links">
        <li class="nav-link">
          <a href="/downloads">
            Downloads
          </a>
        </li>
        <li class="nav-link nav-item dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            #dropdownOverview
            (click)="onClickDropdownToggle('overview')"
            >Ecosystem <i class="fas fa-angle-down"></i
          ></a>
          <ul class="dropdown-menu">
            <li class="dropdown-item">
              <a href="/ecosystem">
                Overview
              </a>
            </li>
            <li class="dropdown-item">
              <a href="/roadmap">
                Roadmap
              </a>
            </li>
            <li class="dropdown-item">
              <a href="/skywire">
                Skywire
              </a>
            </li>
            <li class="dropdown-item">
              <a href="/obelisk">
                Obelisk
              </a>
            </li>
            <li class="dropdown-item">
              <a href="/fiber">
                Fiber
              </a>
            </li>
            <li class="dropdown-item">
              <a href="/cx">
                CX
              </a>
            </li>
            <li class="dropdown-item">
              <a href="/cxo">
                CXO
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-link">
          <a href="/skyminer">
            Skyminer
          </a>
        </li>
        <li class="nav-link">
          <a href="/blog">
            Blog
          </a>
        </li>
        <li class="nav-link">
          <a href="https://store.skycoin.net/">
            Store
          </a>
        </li>
        <li class="nav-link nav-item dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            #dropdownOther
            (click)="onClickDropdownToggle('other')"
            >Other <i class="fas fa-angle-down"></i
          ></a>
          <ul class="dropdown-menu">
            <li class="dropdown-item">
              <a href="/team">
                Team
              </a>
            </li>
            <li class="dropdown-item">
              <a href="/gallery">
                Gallery
              </a>
            </li>
            <li class="dropdown-item">
              <a href="/jobs">
                Jobs
              </a>
            </li>
            <li class="dropdown-item">
              <a href="https://explorer.skycoin.net/">
                Explorer
              </a>
            </li>
            <li class="dropdown-item">
              <a href="https://explorer.skycoin.net/api.html">
                Explorer API
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
    <div class="footer__social">
      <a href="#" target="blank">
        <img src="../../assets/img/medium.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/twitter.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/facebook.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/instagram.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/github.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/youtube.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/reddit.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/apple.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/kakaotalk.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/discord.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/telegram.svg" />
      </a>
      <a href="#" target="blank">
        <img src="../../assets/img/linkedin.svg" />
      </a>
    </div>
    <div class="footer__copyright">
      <div class="copy">
        <span>© Skycoin.net 2018</span>
      </div>
      <div class="contact">
        <a href="mailto:contact@skycoin.net">contact@skycoin.net</a>
      </div>
    </div>
  </div>
</footer>
