@import 'variables';

main {
  padding-bottom: 0;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    h1 {
      margin: 0;
      font-weight: normal;
    }
  }

  iframe {
    width: calc(100% + 60px);
    height: 100vh;
    border: none;
    margin: 0 -30px;
  }
}
