@import 'variables';

main {
  width: 100%;
  background-color: $white;
  padding: 30px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    h1 {
      margin: 0;
      font-weight: normal;
    }
  }

  iframe {
    width: calc(100% + 60px);
    height: 100vh;
    border: none;
    margin: 0 -30px;
  }
}
