<li class="nav-link">
  <a href="/downloads">
    Downloads
  </a>
</li>
<li class="nav-link nav-item dropdown">
  <a
    href="#"
    class="dropdown-toggle"
    data-toggle="dropdown"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
    >Ecosystem <i class="fas fa-angle-down"></i
  ></a>
  <ul class="dropdown-menu">
    <li class="dropdown-item">
      <a href="/ecosystem">
        Overview
      </a>
    </li>
    <li class="dropdown-item">
      <a href="/roadmap">
        Roadmap
      </a>
    </li>
    <li class="dropdown-item">
      <a href="/skywire">
        Skywire
      </a>
    </li>
    <li class="dropdown-item">
      <a href="/obelisk">
        Obelisk
      </a>
    </li>
    <li class="dropdown-item">
      <a href="/fiber">
        Fiber
      </a>
    </li>
    <li class="dropdown-item">
      <a href="/cx">
        CX
      </a>
    </li>
    <li class="dropdown-item">
      <a href="/cxo">
        CXO
      </a>
    </li>
  </ul>
</li>
<li class="nav-link">
  <a href="/skyminer">
    Skyminer
  </a>
</li>
<li class="nav-link">
  <a href="/blog">
    Blog
  </a>
</li>
<li class="nav-link">
  <a href="https://store.skycoin.net/">
    Store
  </a>
</li>
<li class="nav-link nav-item dropdown">
  <a
    href="#"
    class="dropdown-toggle"
    data-toggle="dropdown"
    role="button"
    aria-haspopup="true"
    aria-expanded="false"
    >Other <i class="fas fa-angle-down"></i
  ></a>
  <ul class="dropdown-menu">
    <li class="dropdown-item">
      <a href="/team">
        Team
      </a>
    </li>
    <li class="dropdown-item">
      <a href="/gallery">
        Gallery
      </a>
    </li>
    <li class="dropdown-item">
      <a href="/jobs">
        Jobs
      </a>
    </li>
    <li class="dropdown-item">
      <a href="https://explorer.skycoin.net/">
        Explorer
      </a>
    </li>
    <li class="dropdown-item">
      <a href="https://explorer.skycoin.net/api.html">
        Explorer API
      </a>
    </li>
  </ul>
</li>
