<div class="sidebar-container">
  <aside>
    <ul>
      <a
        routerLink=""
        class="sidebar-nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >CX</a
      >
      <a
        routerLink="/docs"
        class="sidebar-nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Docs</a
      >
      <a
        routerLink="/examples"
        class="sidebar-nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Examples</a
      >
      <a
        routerLink="/about"
        class="sidebar-nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >About</a
      >
      <a
        href="https://github.com/skycoin/cx"
        target="_blank"
        rel="noreferrer nofollow"
        >Github</a
      >
    </ul>
  </aside>
  <router-outlet></router-outlet>
</div>
