<div class="container">

  <div class="intro">
    <div class="text">
      <span class="title">From Smart Contracts to Machine Learning and Video Games</span>
      <p>
        CX is Skycoin’s feature-rich programming language.
        It is designed to address the growing needs of Skycoin’s ambitious ecosystem of projects
        that can’t be satisfied with any other available languages.
      </p>
    </div>
    <div class="buttons">
      <a routerLink="/installation" class="primary">Install CX</a>
      <a routerLink="/editor" *ngIf="replEnabled">Try it out</a>
    </div>
  </div>

  <div class="hero">
    <div class="text">
      <div>
        <span class="title">CX Book Released</span>
        <p>
          If you’re a programmer or student and want to learn more about CX,
          you can get your hands on our newly released book series.
          The first book introduces the basics of the language
          and future books will teach you how to program with CX for video games and smart contracts.
        </p>
      </div>
      <a routerLink="/books/cx-programming-language">Read it here</a>
    </div>
    <div class="img">
      <img src="../../../../assets/img/book-cover.png" alt="CX Book">
    </div>
  </div>

  <div class="content">
    <h2>Latest release: CX v0.6</h2>

    <b>Serialization</b>
    <p>A CX program has a 'binary' representation that is intended to go on the
    blockchain. This binary representation is often called a bytecode, and is a
    common feature in many language. The difference between CX and most other
    languages is that in CX you have a bytecode representation of both the program
    itself, and a running state. CX 0.6 has serialization of any program and
    running state as well as deserialization of both.</p>

    <p>So in the next step of the Sky development, you will be able to store a CX
    program on a blockchain (a chain on Fiber) and store the state of it also on
    the chain. The next time the program is started, the state will be read from
    the chain, and continued from where it left off, run for a while, providing a
    service of some kind, and then the new state will be put back into a new
    block. This is similar to what is called a smart contract on other
    blockchains.</p>

    <b>Language Improvements</b>
    <p>There are a number of new language features that were present in late release
    of CX 0.5, but are now officially supported. These are:</p>

    <ul>
      <li>Functions as first-class objects
      <li>Callbacks (used in some libraries, like OpenGL)</li>
      <li>Much improved handling of slices, esp. resize/copy/insert/remove functions, and boundary checks.</li>
      <li>New control flow keywords: break and continue</li>
      <li>New formatting for printf: %v for values of any type</li>
      <li>Labels can now appear anywhere in a function.</li>
      <li>Improved error reporting</li>
      <li>...and many improvements that were introduced during late stages of CX 0.5</li>
    </ul>

    <b>Library Improvements</b>
    <p>Added GIF support to OpenGL</p>

    <a href="https://github.com/skycoin/cx/releases" target="_blank" rel="noreferrer nofollow">Read more at GitHub</a>
  </div>
</div>
