<div class="container">

  <div class="intro">
    <div class="text">
      <span class="title">From Smart Contracts to Machine Learning and Video Games</span>
      <p>
        CX is Skycoin’s feature-rich programming language.
        It is designed to address the growing needs of Skycoin’s ambitious ecosystem of projects
        that can’t be satisfied with any other available languages.
      </p>
    </div>
    <div class="buttons">
      <a routerLink="/installation" class="primary">Install CX</a>
      <a routerLink="/editor" *ngIf="replEnabled">Try it out</a>
    </div>
  </div>

  <div class="hero">
    <div class="text">
      <div>
        <span class="title">CX Book Released</span>
        <p>
          If you’re a programmer or student and want to learn more about CX,
          you can get your hands on our newly released book series.
          The first book introduces the basics of the language
          and future books will teach you how to program with CX for video games and smart contracts.
        </p>
      </div>
      <a routerLink="/books/cx-programming-language">Read it here</a>
    </div>
    <div class="img">
      <img src="../../../../assets/img/book-cover.png" alt="CX Book">
    </div>
  </div>

  <div class="content">
    <app-content></app-content>
  </div>
</div>
