// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cx-website-primary: mat-palette($mat-indigo);
$cx-website-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cx-website-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cx-website-theme: mat-light-theme($cx-website-primary, $cx-website-accent, $cx-website-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cx-website-theme);

@import 'fonts';
@import 'container';
@import 'highlight';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Skycoin', sans-serif;
  font-size: 14px;
  line-height: 1;
}

p {
  line-height: 1.5;
}

pre {
  margin: 30px -30px;
  padding: 30px;
  background: #e8e8e8;
}

code {
  font-family: 'Consolas', 'Monaco', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
