@import 'variables';

main {
  background-color: $white;
  padding: 30px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  min-height: 300px;
  margin-top: 60px;
}

code {
  outline: none;
}

pre:last-of-type {
  margin-bottom: 0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
  }

  .controls {
    display: flex;

    button {
      background: none;
      border: none;
      margin-left: 15px;
      cursor: pointer;

      &.icon {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      &.run {
        background-color: $blue;
        margin-left: 30px;

        svg {
          fill: $white;
        }
      }
    }
  }
}
