@import 'variables';

main {
  background-color: $white;
  padding: 30px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  min-height: 300px;
  margin-top: 60px;
}

code {
  outline: none;
}

pre:last-of-type {
  margin-bottom: 0;
}

.head {
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0;
  }

  .controls {
    display: flex;
  }
}
